.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  flex: 0 0 auto;
  font-weight: bold;
  font-display: auto;

  img {
    height: 44px;
  }

  @mixin greater-icon($stroke-width: 3px, $width: .95rem, $height: 100%) {
    .greater-icon {
      width: $width;
      height: $height;

      path {
        stroke: currentColor;
        stroke-width: $stroke-width;
      }
    }
  }

  &__mark {
    margin-right: 5px;
    align-items: center;
    margin-right: 5px;

    @include greater-icon(8px);
  }

  &__text {
    font-size: 1.125rem;
  }

  &__cursor {
    display: inline-block;
    width: 10px;
    height: 1rem;
    background: #448aff;
    margin-left: 5px;
    border-radius: 1px;
    animation: cursor 1s infinite;
  }

  @media (prefers-reduced-motion: reduce) {
    &__cursor {
        animation: none;
    }
  }

}

@keyframes cursor {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
